In [2]:
import dask.dataframe as pd
import numpy as np
from decimal import Decimal

In [3]:
df = pd.read_csv("complex_org_m5.csv").compute()

In [4]:
df

         real  imaginary  power  sequence
0       -10.0     -10.00      2  CYXXXXXX
1       -10.0     -10.00      3  CXYYYYYY
2       -10.0     -10.00      4  CDCDCDCD
3       -10.0     -10.00      5  CBADCBAD
4       -10.0      -9.99      2  CABDDDDD
...       ...        ...    ...       ...
4009999  -5.0       9.99      5  BBBAACCB
4010000  -5.0      10.00      2  BCBCABCB
4010001  -5.0      10.00      3  BCAADBBB
4010002  -5.0      10.00      4  BDDCACAA
4010003  -5.0      10.00      5  BBBAACCC

[4010004 rows x 4 columns]

In [5]:
anticlock_orientation = 'ABCDABCD'*2
clock_orientation = "".join(reversed(clock_orientation))

def find_orientation(sequence):
    if sequence in clock_orientation:
        return 'clockwise'
    elif sequence in anticlock_orientation:
        return 'anticlockwise'
    else:
        return 'random'

NameError: name 'clock_orientation' is not defined

In [117]:
df['orientation'] = df['sequence'].apply(find_orientation)
# df[(df['orientation']=='clockwise')]

In [1]:
# df.to_csv('complex_org_final_m5.csv')
df

NameError: name 'df' is not defined

In [118]:
df[(df['orientation']!='random')]

          real  imaginary  power  sequence orientation
3       -10.00     -10.00      5  CBADCBAD   clockwise
8003    -10.00      10.00      5  BADCBADC   clockwise
8011     -9.99      -9.99      5  CBADCBAD   clockwise
16003    -9.99       9.99      5  BADCBADC   clockwise
16019    -9.98      -9.98      5  CBADCBAD   clockwise
...        ...        ...    ...       ...         ...
3992003  -5.02       5.02      5  BADCBADC   clockwise
3995995  -5.01      -5.01      5  CBADCBAD   clockwise
4000003  -5.01       5.01      5  BADCBADC   clockwise
4004003  -5.00      -5.00      5  CBADCBAD   clockwise
4008003  -5.00       5.00      5  BADCBADC   clockwise

[1002 rows x 5 columns]